<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Chat Interface</title>
    <link rel="stylesheet" href="{{url_for('static', path='styles/chat.css')}}">


</head>
<body onload="loadChatData()">
<div id="container">
    <div id="menu">
        <h2>ЦТиП Bot</h2>
        <h3>Добро пожаловать в чат-бота! Задавайте свои вопросы, и я постараюсь предоставить вам необходимую информацию или совет.</h3>
        <div id="logout-container">
            <button onclick="window.location.href='/auth/sign-in/form'">Выход</button>
        </div>

    </div>

    <div id="chat">
        <div id="chat-messages">
        </div>
        <form id="chat-input" onsubmit="sendMessage(); return false">
            <input type="text" id="user-input" placeholder="Type a message...">
            <input type="submit" value="Send"/>
        </form>
    </div>
</div>

<script src="{{ url_for('static', path='scripts/chat.js') }}"></script>
</body>
</html>