<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Вход / Регистрация</title>
    <link rel="stylesheet" href="..\styles\main.css">
</head>
<body>
    <div class="container">
        <img class="logo" src="..\materials\Логотип.png" alt="Логотип организации">
        <p class="tagline">Ваш личный помощник для работы в ЦТиП</p>
        <div class="buttons">
            <button class="button" onclick="window.location.href='auth.html'">Войти</button>
            <button class="button" onclick="window.location.href='reg.html'">Зарегистрироваться</button>
        </div>
    </div>
</body>
</html>